<div class="spacer"></div>

<div class="logo-container">
<div class="full-logo-medium"></div>
</div>

<div class="home-container">

<div class="home-sidebar">
<p class="side-heading"><b>Top Developers: </b></p>
<div class="top-devs">
  <% @td_rank = 1 %>
  <% DevCorner.order(:cached_votes_score).first(5).reverse.each do |top| %>
    <p><%= @td_rank %>. <%= top.profile.first_name %> <%= top.profile.last_name %> - <%= top.score %></p>
    <% @td_rank = @td_rank + 1 %>
  <% end %>
</div>
</div>

<div class="intro-image">
  <p class="image-slogan">Begin your Web Development career right here, right now.</p>
</div>


</div>
