// Place all the styles related to the DevCorners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
}

.dev-panel {
  height: 60px;
  width: 30%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  padding: 5px;
  border-color: #A6728F;
  border-style: solid;
  background-color: #f6f0f3;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
}
  .dev-panel-button {
    width: 145px;
    height: 50px;
    background-color: #A6728F;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
    border: none;
    text-align: center;
    line-height: 45px;
    transition-duration: 0.5s;
    margin: 5px 10px 0 10px;
    }

    .dev-panel-button:hover {
      background-color: #A52D34;
      color: #fff;
    }

.dc-container{
  width: 65%;
  height: auto;
  margin: 0 auto 0 auto;
  display: flex;
}
.dc-profile-card {
  width: 95%;
  height: auto;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  // float: left;
  background-color: #fff;
  margin: 20px 5px 5px 5px;
}

  .profile-info{
    padding: 1%;
    height: auto
  }

.dc-box {
  width: 95%;
  height: auto;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  background-color: rgba(115,153,216,0.8);
  border-style: solid;
  border-color: #506b97;
  border-radius: 2%;
  // float: left;
  margin: 20px 5px 5px 5px;


}

.dc-container-top {
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
}

.dc-container-bottom {
  width: 95%;
  height: auto;
  margin: 0 auto 0 auto;

}

.dc-containers {
  width: 90%;
  height: 450px;
  display: flex;
  justify-content: center;
  margin: 0 auto 0 auto;

}

#dev_corner_skills, #dev_corner_experience, #dev_corner_strengths {
  width: 90%;
  height: 350px;
  color: #000;
  background-color: #f6f0f3;
  font-size: 18px;
  margin: 5px 10px 5px 10px;
  border-style: solid;
  border-color: #A6728F;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);

}

.fieldd {
  width: 80%;
  text-align: center;
}

#dev_corner_user_css_input, #dev_corner_user_html_input {
  width: 95%;
  height: 400px;
  background-color: #634455;
  color: #fff;
  font-size: 16px;
  margin: 5px 10px 5px 10px;
  border-style: solid;
  border-color: #f6f0f3;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);


}


.unauthorised {
  width: 300px;
  height: 200px;
  text-align: center;
  margin: 0 auto 0 auto;
  border-color: #A6728F;
  border-style: solid;
  background-color: #f6f0f3;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  padding: 2%;
  font-family: 'Montserrat', sans-serif;


}
  .unauth-heading {
    color: red;
    font-size: 22px;
  }
