
// STYLESHEET FOR PROFILE CARDS

.edit-page-container {
  width: 80%;
  height: auto;
  display: flex;
  margin: 20px auto 20px auto;
  padding: 1%;
}

.account-container {
  width: 35%;
  height: auto;
  border-style: solid;
  border-color: #A6728F;
  margin-right: 25px;
  background-color: #ddd;
  padding: 1%


}

.profile-container {
  width: 65%;
  height: auto;
  border-style: solid;
  border-color: #A6728F;
  margin-left: 25px;
  background-color: #ddd;
  padding: 1%;

}


.certified {
  width: 30px;
  height: 30px;
  background: image-url('DS-Logo-Transparent.png') no-repeat;
  background-size: cover;
  margin-right: 10px;
  transition-duration: 0.5s;
  float: left;
}

  .certified-label {
    width: 100px;
    height: 40px;
    display: none;
    background-color: #A52D34;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #fff;
    transition-duration: 0.5s;

  }

  .certified:hover + .certified-label{
    display: block;
  }

.shops-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  width: 350px;
  margin: 0 auto 0 auto;

}

.shop-bg {
  width: 60%;
  height: 200px;
  margin: 0 auto 0 auto;
  background: image-url('DS-Roof.png') no-repeat;
  background-size: cover;
}

.dc-index-container {
  width: 50%;
  height: auto;
  margin: 0 auto 0 auto;
}



.card-seperator {
  width: 55%;
  height: 1px;
  margin: 20px auto 20px auto;
  border-bottom-style: solid;
  border-color: #A6728F;

}

.profile-card {
  width: 70%;
  height: auto;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  margin: 0 auto 0 auto;
  background-color: #fff;


}

  .profile-first-last-name {
    width: 96%;
    height: auto;
    display: flex;
    border-bottom-style: solid;
    border-width: thin;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 3px 3px 3px 3px;
    margin: 0 auto 0 auto;

  }

.another-damn-container {
  display: flex;
  height: 100%;
  width: 100%;

}
  .profile-picture {
    height: auto;
    width: 260px;
    padding: 5px;
    margin: 1%;

  }

  .profile-info {
    font-family: 'Montserrat', sans-serif;

  }

.edit-button {
  width: 145px;
  height: 50px;
  background-color: #A6728F;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  border: none;
  text-align: center;
  line-height: 45px;
  transition-duration: 0.5s;
  margin: 10px auto 10px auto;
}
  .edit-button:hover {
    background-color: #A52D34;
  }

.dev-button {
  width: 145px;
  height: 50px;
  background-color: #A6728F;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.4);
  border: none;
  text-align: center;
  line-height: 45px;
  transition-duration: 0.5s;
  margin: 10px auto 10px auto;
}

  .dev-button:hover {
    background-color: #A52D34;
    color: #fff;
  }

.dc-rating {
  margin-left: 60px;
}
